doctype html
html
  head
    title TechBBS
    link(href='http://localhost:3000/path/content.css' rel='stylesheet')
  body
    div
      #header  
        h1 #{title}
      .left
        p AuthorInfo: #{id}  
      .right
        p content: #{content} 
      #footer
        p Yifan Zuo, Shen Chen, Leilei Chen
